@import '~antd/dist/antd.css';
@import "~reset-css";
@import "layouts/chat";

::-webkit-scrollbar { /* chrome based */
  width: 0px;
  background: transparent;
}

html {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

body {
  background-color: #f4f7fd;
}

html,
body,
#root,
.wrapper {
  font-size: 14px;
  height: 100%;
  color: #202020;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
  outline: none;
}