@import "src/styles/variables";

.dialogs {
  width: 300px;
  &__item {
    $item: &;
    display: flex;
    margin-bottom: 20px;
    &--online {
      #{$item}-avatar {
        &::before {
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          content: '';
          background-color: $green;
          border-radius: 30px;
          width: 13px;
          height: 13px;
          border: 3px solid #fff;
        }
      }
    }

    &-avatar {
      position: relative;
      flex: 0 0 40px;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      &-top {
        display: flex;
        b {
          margin-bottom: 6px;
          flex: 1;
          font-weight: 500;
          font-size: 14px;
        }
        span {
          opacity: 0.4;
        }
      }


      &-bottom {
        position: relative;
        p {
          opacity: 0.4;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 220px;
          white-space: nowrap;
        }
        &-count {
          position: absolute;
          bottom: 0;
          right: 0;
          background: #f46b6b;
          color: #fff;
          font-weight: bold;
          width: 18px;
          height: 18px;
          border-radius: 30px;
          font-size: 11px;
          text-align: center;
          line-height: 19px;
        }
        .message__icon-read {
          bottom: 0;
          right: 0;
          left: auto;
        }
        .message__icon-notRead {
          bottom: 0;
          right: 0;
          left: auto;
        }
      }
    }
  }
}