@import "src/styles/variables";

.chat {
  display: flex;
  background-color: #fff;
  width: 1140px;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  height: 100%;

  &__sidebar {
    width: 320px;
    border-right: 1px solid $grey;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      height: 58px;
      border-bottom: 1px solid $grey;

      & > div {
        span {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }

    .ant-input {
      height: 25px;
      padding: 4px 11px 6px!important;
    }

    &-dialogs {
      overflow: auto;
      height: calc(100vh - 60px);
      .dialogs {
        &__item {
          padding: 10px 20px;
          margin-bottom: 0;
          cursor: pointer;

          &.active,
          &:hover {
            background-color: #f3f7ff
          }
        }
      }
    }

  }

  &__dialog {
    flex: 1;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px;
      border-bottom: 1px solid $grey;

      &-center {
        text-align: center;
      }

      &-fullname {
        display: block;
        margin-bottom: 5px;
        font-weight: 500;
      }
    }

    &-messages {
      height: calc(100vh - 120px);
      padding: 20px 20px 0px;
      overflow: auto;
    }
  }
}